.flx-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &--horizontal {
    flex-direction: row;
  }

  &--align-start {
    align-items: flex-start;
  }

  &__elm {
    &--half {
      flex-basis: 50%;
    }

    &--third {
      flex-basis: calc(100% / 3);
    }
  }
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

.img-cover {
  height: 50rem;
}

.text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__heading {
    font-size: 6.8rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
    color: $color-gray;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: $color-gray;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.vertical-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__elem {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }
}

.color-white {
  color: $color-primary--lightest;
}

.mg-bottom {
  &--small {
    margin-bottom: 2rem;
  }
}
