// load dependecies
@import './variables';
@import './typography';
@import './buttons';
@import './helpers';

// initial styles and rests
html,
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  transition: all 1s ease-in-out;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.section {
  padding: 12rem 0rem;
  &--white {
    background-color: #efefef;
  }
  &--green {
    background-color: $color-primary;
  }
  &--no-padding {
    padding: 0;
  }

  &__title {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
    h3 {
      font-size: 6rem;
      color: $color-primary;
    }
  }
}

ul {
  list-style-type: none;
}
