$color-black: #0b0b0b;
$color-primary: #0a3314;
$color-primary--light: #37653c;
$color-primary--lightest: #f4f3e6;
$color-secondary: #890202;
$color-gray: #4a4a4a;
$color-gray--light: #f9f9f9;
$base-font-size: 62.5%;
$base-font-family: 'Open Sans', sans-serif;
